.button-container {
    width: 40%;
    padding: 30px;
    background-color: lavender;
    border: 2px solid mediumslateblue;
}

.button-container .button-items {
    text-decoration: none;
    margin-bottom: 10px;
}

.second-btn {
    color: lavender;
}

.new-button {
    background-color: blue;
}

.btn-color {
    color: yellow;
}

.text-off {
    display: none;
}

.text-none {
    display: none;
}