.wrapper {
    max-width: 800px;
    margin: 40px auto;
    background-color: beige;
    border: 3px solid blueviolet;
    padding: 20px;
}

.button-container .button-items {
    text-decoration: none;
    margin-bottom: 10px;
}

.second-btn {
    color: lavender;
}

.new-button {
    background-color: blue;
}

.btn-color {
    color: yellow;
}

.text-off {
    display: none;
}

.text-none {
    display: none;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container input {
    max-width: 200px;
    margin-bottom: 10px;
}